<mat-toolbar color="primary">
    <img class="img-icon tab" src="assets/security.jpg" alt="" routerLink="/home">
    <span class="ml-3 font-size">Door Security System</span>
    <span class="example-spacer"></span>
    <button (click)="notificationList()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon [matBadge]="count > 0 ? count: ''" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
        <button mat-menu-item routerLink="/home/memberlist">
          <mat-icon>view_list</mat-icon>
          <span>Member List</span>
        </button>
        <button mat-menu-item (click)="addMemberDialog()">
          <mat-icon>person_add</mat-icon>
          <span>Add Member</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
  </mat-toolbar>
