<div *ngIf="notificationList.length > 0">
    <ng-container *ngFor="let notification of notificationList">
        <div class="d-flex tab" (click)="VisitorDetail(notification._id)">
            <div class="circle theme-background">
                <span>{{notification.name.substring(0,2).toUpperCase()|| 'UK'}}</span>
            </div>
            <div class="flex-grow-1 ml-2">
                <span>{{notification?.name|| 'Unknow'}} visit at {{notification?.date | date:'h:mm a'}}</span>
                <p class="m-0">{{notification?.date | date}}</p>
            </div>
        </div>
    </ng-container>
</div>
<p *ngIf="notificationList.length === 0">No Notification</p>

