.d-flex{
    display:flex;
    align-items:center;
    margin-bottom:18px;
}
.image-container{
    width: 200px;
    height: 200px;
    border-radius:100px;
}
.flex-grow-1{
    flex: 1;
}
@media (max-width: 768px){
    .image-container{
        width: 150px;
        height: 150px;
        border-radius:75px;
    }  
}