<div class="container">
    <div class="d-flex">
        <div>
           <img class="image-container" src="assets/security.jpg" alt="">
           <div class="mt-3">
               <h2>{{notification?.name || 'Unknow'}}</h2>
               <p>Relation</p>
               <p>{{notification?.date | date}}</p>
               <p>{{notification?.date| date:'h:mm a'}}</p>

               <mat-radio-group aria-label="Select an option" class="mt-3">
                <mat-radio-button [checked]="notification?.yourAction" value='true'>Open</mat-radio-button>
                <mat-radio-button [checked]="!notification?.yourAction" value="false" class="ml-2">Not Open</mat-radio-button>
              </mat-radio-group>
           </div>
        </div>
    </div>
</div>
