/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
/* customize scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height:8px;
}

/* Track */
::-webkit-scrollbar-track {
    border: 1px solid #939AA9;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #939AA9;;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #939AA9;;
}
.theme-background{
    background:rgb(0, 195, 255);
}
.mt-2{
    margin-top:12px !important;
}
.m-0{
    margin-bottom: 0px !important;
}
.ml-2{
    margin-left: 12px;
}
.ml-3{
    margin-left: 20px;
}
.tab{
    cursor: pointer;
}

.container{
    padding:50px;
}
.mat-snack-bar-container{
    background: none !important;
    padding: 0px !important ;
    min-height: 0px !important;
    margin-top: 80px !important;
    min-width: 500px !important;
}
.mat-snack-bar-container {
    color: black;
    /* background: #b6acac; */
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.mat-simple-snackbar {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white
}

.mat-simple-snackbar-action {
    color: #FFFFFF
}
@media (max-width:767px){
    .container{
        padding:10px;
    }
    .mat-snack-bar-container{
        min-width: 300px !important;
    }
}
